@using Sitecore.Mvc
@using Sitecore.Mvc.Presentation
@using Mirabeau.Feature.Navigation.Models
@*@model RenderingModel
    @{

    }*@
@model IEnumerable<SCNavigationVM>
<div class="side_box" id="subnav">
    <div class="side_box_inner">
        <ul id="" xmlns:msxsl="urn:schemas-microsoft-com:xslt">
            @foreach (var navigationVM in Model)
            {
                <li id="nav_employer">
                    <a href="@navigationVM.NavigationRedirect">@navigationVM.NavigationText</a>
                </li>
            }
            @*<li>
                    <a href="/employeebenefits/FR/emplpr/sal/inctrav/Pages/Incapacitedetravail.aspx">Incapacité de travail</a>
                </li>
                <li>
                    <a href="/employeebenefits/FR/emplpr/sal/hospi/Pages/Hospitalisation.aspx">Hospitalisation</a>
                </li>
                <li>
                    <a href="/employeebenefits/FR/emplpr/sal/soinsambu/Pages/SoinsAmbu.aspx">Soins ambulatoires</a>
                </li>
                <li>
                    <a href="/employeebenefits/FR/emplpr/sal/penscompldecpme/Pages/PensioncomplementairePME.aspx">PME - Pension complémentaire / Décès</a>
                </li>
                <li>
                    <a href="/employeebenefits/FR/emplpr/sal/inctravpme/Pages/IncapacitedetravailPME.aspx">PME - Incapacité de travail</a>
                </li>
                <li>
                    <a href="/employeebenefits/FR/emplpr/sal/hospipme/Pages/HospitalisationPME.aspx">PME - Hospitalisation</a>
                </li>
                <li>
                    <a href="/employeebenefits/FR/emplpr/sal/soinsambupme/Pages/SoinsAmbu.aspx">PME - Soins ambulatoires</a>
                </li>*@
        </ul>
    </div>
</div>