<?xml version="1.0"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <services>
      <configurator type="Mirabeau.Foundation.DependencyInjection.Infrastructure.MvcControllerServicesConfigurator, Mirabeau.Foundation.DependencyInjection"/>
    </services>
  </sitecore>
</configuration>