@using Sitecore.Mvc
@using Sitecore.Mvc.Presentation
@model RenderingModel
@{

}

<div id="headerTop">
    <div class="col-md-6 col-sm-12 leftlogo">
        <img src="../Images/logo.png" border="0" width="300" height="81">
    </div>
    <div class="col-md-6 col-sm-12 rightlogo">
        <div id="rightimage">
            <img src="../Images/rightlogo.png" border="0" width="334" height="21">
        </div>
        @Html.Sitecore().Controller("SCNavigations", "SCLanguageSwitcher")
    </div>
</div>
@Html.Sitecore().Placeholder("Header.Topmenu")
@*<div id="hpnav">
    <div id="ctl00_PageHolder_HomePageNavHolder_HPLinks">
        <div id="ctl00_PageHolder_HomePageNavHolder_HPLinks_HPLinks1_upPanLinkListForm">
            @Html.Sitecore().Controller("SCNavigations", "Breadcrumbs")
        </div>
    </div>
</div>*@
