<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>   
    <unicorn>
      <configurations>
        <configuration name="Foundation.Indexing" description="Foundation Indexing" dependencies="Foundation.Serialization,Foundation.Indexing" patch:after="configuration[@name='Foundation.Indexing']">
          <targetDataStore physicalRootPath="$(sourceFolder)\Foundation\Indexing\serialization" type="Rainbow.Storage.SerializationFileSystemDataStore, Rainbow" useDataCache="false" singleInstance="true" />
          <predicate type="Unicorn.Predicates.SerializationPresetPredicate, Unicorn" singleInstance="true">
            <!-- TODO: Remove or add includes depending on what needs to be serialized. -->
            <!-- TODO: Don't forget to create a Foundation/Indexing folder for these paths in Sitecore. -->
            <include name="Foundation.Indexing.Templates" database="master" path="/sitecore/templates/Foundation/Indexing" />
            <include name="Foundation.Indexing.Renderings" database="master" path="/sitecore/layout/renderings/Foundation/Indexing" />
            <include name="Foundation.Indexing.Media" database="master" path="/sitecore/media library/Foundation/Indexing" />
          </predicate>
          <roleDataStore type="Unicorn.Roles.Data.FilesystemRoleDataStore, Unicorn.Roles" physicalRootPath="$(sourceFolder)\Foundation\Indexing\serialization\Foundation.Indexing.Roles" singleInstance="true"/>
          <rolePredicate type="Unicorn.Roles.RolePredicates.ConfigurationRolePredicate, Unicorn.Roles" singleInstance="true">
            <include domain="modules" pattern="^Foundation Indexing .*$" />
          </rolePredicate>
        </configuration>
      </configurations>
    </unicorn>
  </sitecore>
</configuration>
