<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>   
    <unicorn>
      <configurations>
        <configuration name="Feature.Metadaa" description="Feature Metadaa" dependencies="Foundation.Serialization,Foundation.Indexing" patch:after="configuration[@name='Foundation.Indexing']">
          <targetDataStore physicalRootPath="$(sourceFolder)\Feature\Metadaa\serialization" type="Rainbow.Storage.SerializationFileSystemDataStore, Rainbow" useDataCache="false" singleInstance="true" />
          <predicate type="Unicorn.Predicates.SerializationPresetPredicate, Unicorn" singleInstance="true">
            <!-- TODO: Remove or add includes depending on what needs to be serialized. -->
            <!-- TODO: Don't forget to create a Feature/Metadaa folder for these paths in Sitecore. -->
            <include name="Feature.Metadaa.Templates" database="master" path="/sitecore/templates/Feature/Metadaa" />
            <include name="Feature.Metadaa.Renderings" database="master" path="/sitecore/layout/renderings/Feature/Metadaa" />
          </predicate>
          <roleDataStore type="Unicorn.Roles.Data.FilesystemRoleDataStore, Unicorn.Roles" physicalRootPath="$(sourceFolder)\Feature\Metadaa\serialization\Feature.Metadaa.Roles" singleInstance="true"/>
          <rolePredicate type="Unicorn.Roles.RolePredicates.ConfigurationRolePredicate, Unicorn.Roles" singleInstance="true">
            <include domain="modules" pattern="^Feature Metadaa .*$" />
          </rolePredicate>
        </configuration>
      </configurations>
    </unicorn>
  </sitecore>
</configuration>
