@using Sitecore.Mvc
@using Sitecore.Mvc.Presentation
@using Mirabeau.Feature.Articles.Models

@model IEnumerable<SCArticleVM>
@foreach (var item in Model)
{
    <div class="cta" id="cta_toolss">
        <h3 onclick="">@item.MetaTitle</h3>
        <p style="height: 85px">@item.MetaDescription</p>
        <a class="more" href="">@item.ArticleRedirect</a>
    </div>
}



