<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>   
    <unicorn>
      <configurations>
        <configuration name="Foundation.Extensions" description="Foundation Extensions" dependencies="Foundation.Serialization,Foundation.Indexing" patch:after="configuration[@name='Foundation.Indexing']">
          <targetDataStore physicalRootPath="$(sourceFolder)\Foundation\Extensions\serialization" type="Rainbow.Storage.SerializationFileSystemDataStore, Rainbow" useDataCache="false" singleInstance="true" />
          <predicate type="Unicorn.Predicates.SerializationPresetPredicate, Unicorn" singleInstance="true">
            <!-- TODO: Remove or add includes depending on what needs to be serialized. -->
            <!-- TODO: Don't forget to create a Foundation/Extensions folder for these paths in Sitecore. -->
            <include name="Foundation.Extensions.Templates" database="master" path="/sitecore/templates/Foundation/Extensions" />
            <include name="Foundation.Extensions.Renderings" database="master" path="/sitecore/layout/renderings/Foundation/Extensions" />
            <include name="Foundation.Extensions.Media" database="master" path="/sitecore/media library/Foundation/Extensions" />
          </predicate>
          <roleDataStore type="Unicorn.Roles.Data.FilesystemRoleDataStore, Unicorn.Roles" physicalRootPath="$(sourceFolder)\Foundation\Extensions\serialization\Foundation.Extensions.Roles" singleInstance="true"/>
          <rolePredicate type="Unicorn.Roles.RolePredicates.ConfigurationRolePredicate, Unicorn.Roles" singleInstance="true">
            <include domain="modules" pattern="^Foundation Extensions .*$" />
          </rolePredicate>
        </configuration>
      </configurations>
    </unicorn>
  </sitecore>
</configuration>
