<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>   
    <unicorn>
      <configurations>
        <configuration name="Project.EmployeeBenefits" description="Project EmployeeBenefits" dependencies="Foundation.Serialization,Foundation.Indexing" patch:after="configuration[@name='Foundation.Indexing']">
          <targetDataStore physicalRootPath="$(sourceFolder)\Project\EmployeeBenefits\serialization" type="Rainbow.Storage.SerializationFileSystemDataStore, Rainbow" useDataCache="false" singleInstance="true" />
          <predicate type="Unicorn.Predicates.SerializationPresetPredicate, Unicorn" singleInstance="true">
            <!-- TODO: Remove or add includes depending on what needs to be serialized. -->
            <!-- TODO: Don't forget to create a Project/EmployeeBenefits folder for these paths in Sitecore. -->
            <include name="Project.EmployeeBenefits.Templates" database="master" path="/sitecore/templates/Project/EmployeeBenefits" />
            <include name="Project.EmployeeBenefits.Renderings" database="master" path="/sitecore/layout/renderings/Project/EmployeeBenefits" />
            <include name="Project.EmployeeBenefits.Media" database="master" path="/sitecore/media library/Project/EmployeeBenefits" />
          </predicate>
          <roleDataStore type="Unicorn.Roles.Data.FilesystemRoleDataStore, Unicorn.Roles" physicalRootPath="$(sourceFolder)\Project\EmployeeBenefits\serialization\Project.EmployeeBenefits.Roles" singleInstance="true"/>
          <rolePredicate type="Unicorn.Roles.RolePredicates.ConfigurationRolePredicate, Unicorn.Roles" singleInstance="true">
            <include domain="modules" pattern="^Project EmployeeBenefits .*$" />
          </rolePredicate>
        </configuration>
      </configurations>
    </unicorn>
  </sitecore>
</configuration>
