@using Sitecore
@using Sitecore.Mvc
@using Sitecore.Mvc.Presentation
@using Mirabeau.Feature.Forms.Models
@using Sitecore.Data.Items
@using Sitecore.Resources.Media
@model RenderingModel
@{
    Item item = Sitecore.Context.Item;

    Sitecore.Data.Fields.ImageField imgField = ((Sitecore.Data.Fields.ImageField)item.Fields["ArticleBanner"]);
    var image = new MediaItem(imgField.MediaItem);
    string articleBannerUrl = StringUtil.EnsurePrefix('/', MediaManager.GetMediaUrl(image));
}

<div id="image" style="background: url(@articleBannerUrl) no-repeat;background-size: 100%; height:200px;">
    @Html.Sitecore().Field("ArticleHeader")
</div>
<div class="section">
    @Html.Sitecore().Field("ArticleSummery")
</div>
<!--form starts-->
@using (Html.BeginRouteForm(Sitecore.Mvc.Configuration.MvcSettings.SitecoreRouteName, FormMethod.Post))
{
    @Html.Sitecore().FormHandler("SCContactProfiles", "SCSubmitContactProfile")
<div class="form">
    <div class="form_section">
        <h3>Select your profile</h3>
        @Html.Sitecore().Controller("SCContactProfiles", "SCContactProfiles")
    </div>
    <div id="dvContactFormSection" class="form_section">
    </div>
    <div class="form_submit">
        <input type="submit" class="submit-btn" value="Submit" />
    </div>
</div>
}
<!--form ends-->