@using Sitecore.Mvc
@using Sitecore.Mvc.Presentation
@model RenderingModel
@{

}
<div id="image">
    <img src="images/visu-tools.jpg" style="visibility: hidden;" />
</div>
<div class="section">
    @*<div style="text-align:center;">
            <p style="font-size: 3em;color: green;">@Html.Sitecore().Field("ArticleSummery")</p>
        </div>*@
    <p style="font-size: 3em;color: green;"> </p>
</div>
<div class="form">
    <p style="font-size: 3em;color: green;"> </p>
</div>
<div style="text-align:center;">
    <p style="font-size: 3em;color: green;">@Html.Sitecore().Field("ArticleSummery")</p>
</div>