@using Sitecore.Mvc
@using Sitecore.Mvc.Presentation
@model RenderingModel
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <title>@Html.Sitecore().Field("title")</title>
    @*<link href="~/Css/bootstrap.min.css" rel="stylesheet" />
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />
        <link href="~/Css/profile.css" rel="stylesheet" />
        <script src="~/Scripts/jquery.min.js"></script>
        <script src="~/Scripts/bootstrap.min.js"></script>*@
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <!-- Load an icon library to show a hamburger menu (bars) on small screens -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="~/Css/profile.css" rel="stylesheet" />
    <link href="~/Css/menu.css" rel="stylesheet" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <script type="text/javascript">
    $(document).ready(function () {
        $("#SelectedProfileId").change(function () {
            var categoryId = $("#SelectedProfileId").val();
            @*$("#dvContactFormSection").load('@(Url.Action("GetContactProfileFields","SCContactProfiles",null, Request.Url.Scheme))?categoryId=' + categoryId);*@

            var requestData = {
                categoryId: $.trim(categoryId)
            };
            $.ajax({
                url: 'SCContactProfiles/GetContactProfileFields',
                type: 'POST',
                data: JSON.stringify(requestData),
                dataType: 'html',
                contentType: 'application/json; charset=utf-8',
                success: function (data) {
                    debugger;
                    //var BookString = "Book Title: " + data.BookTitle + "\n" + "Book Author: " + data.BookAuthor + "\n" + "Book Language:" + data.BookLanguage;
                    $("#dvContactFormSection").html(data);
                    console.log("success", data);
                },
                error: function (data) {
                    debugger;
                    console.log("error", data);
                },
                async: true,
                processData: false
            });
        });
    });
        function myFunction() {
            var x = document.getElementById("myTopnav");
            if (x.className === "topnav") {
                x.className += " responsive";
            } else {
                x.className = "topnav";
            }
        }
    </script>
    @*@Html.Sitecore().VisitorIdentification()*@
</head>
<body>
    <div>
        @Html.Sitecore().Placeholder("ArticlePage.Grid")
    </div>
</body>
</html>
